/*********************************************************
 * Rarity colors
 *********************************************************/

.common {
	font-family: Arial;
	background: radial-gradient(#bebebe, #646464);
	border: 2px solid #b1b1b1;
}
.uncommon {
	font-family: Arial;
	background: radial-gradient(#60aa3a, #175117);
	border: 2px solid #87e339;
	
}
.rare {
	font-family: Arial;
	background: radial-gradient(#49acf2, #143977);
	border: 2px solid #37d1ff;
}
.epic {
	font-family: Arial;
	background: radial-gradient(#b15be2, #4b2483);
	border: 2px solid #e95eff;
}
.dark {
	font-family: Arial;
	background: radial-gradient(#fb22df, #520c6f);
	border: 2px solid #ff42e7;
}
.dc {
	font-family: Arial;
	background: radial-gradient(#5475c7, #243461);
	border: 2px solid #6094ce;
}
.marvel {
	font-family: Arial;
	background: radial-gradient(#c53334, #761b1b);
	border: 2px solid #ef3537;
}
.star_wars {
	font-family: Arial;
	background: radial-gradient(#1b366e, #081737);
	border: 2px solid #e7c413;
}
.icon_series {
	font-family: Arial;
	background: radial-gradient(#36b7b7, #256b6b);
	border: 2px solid #52e0e0;	
}
.slurp {
	font-family: Arial;
	background: radial-gradient(#29f1a3, #12a9a4);
	border: 2px solid #53f0ff;
}
.legendary {
	font-family: Arial;
	background: radial-gradient(#d37841, #78371d);
	border: 2px solid #e98d4b;
}

/*********************************************************
 * Misc
 *********************************************************/

.rel {
	position: relative;
}
.tile {
	text-align: center;
	position: absolute;
	bottom: 1px;
	color: white;
	background: rgba(0, 0, 0, .3);
	width: 100%;
}
.price-icon {
	vertical-align: middle;
}
body {
	background-color: #1E1E1E;
}
